<!--   <p>person-form works!</p> -->
<html>
    <h3 style="color:green">Person Details</h3>
    <h2>Add/Update Person</h2>
 <form (ngSubmit)="onSubmit()" #personForm="ngForm"> 
      <div class="form-group"></div>     
      Name
      <input type="text" name="name" id="name"
      required
        [(ngModel)]="model.name" #name="ngModel">
      Country
      <input type="text" [(ngModel)]="model.country" name="country">    
      <br><br>
      <button type="submit" class="btn btn-success" [disabled]="!personForm.form.valid">Add</button>
      {{submitted}}
</form>
   <div [hidden]="!submitted">
        {{diagnostic}}
   </div>
      </html>